@charset "UTF-8";

*{
    margin: 0;
    padding 0;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 50px;
}

a{
    color: whhite;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover, header a:hover{
    text-decoration: underline;
}

a:visited{
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.137);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
padding: 10px;}